In [1]:
import pandas as pd
import numpy

In [9]:
dataset = pd.read_csv('datasets/q1_q17_dr25_sup_koi_2024.04.11_11.47.30.csv')
display(dataset.sample(956))

,loc_rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
6480,6481,6364143,K05272.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,291.85382,41.764042,14.579
6272,6273,4471313,K05066.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.51175,39.528271,15.792
6623,6624,7700561,K05414.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,297.25482,43.308979,15.542
12,13,5812701,K00012.01,Kepler-448 b,CONFIRMED,CANDIDATE,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,297.45374,41.010990,11.353
276,277,8491277,K00234.01,Kepler-498 b,CONFIRMED,CANDIDATE,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.35815,44.518749,14.283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6337,6338,5166811,K05130.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,284.46585,40.314941,15.612
5580,5581,7777522,K04415.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,298.87418,43.440891,15.766
3842,3843,10397751,K02859.04,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,288.83136,47.551991,13.851
5320,5321,9406892,K04186.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,292.96982,45.905579,14.400
4057,4058,9153554,K03044.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,291.38965,45.527168,15.688